.leftside__groupbox__partial
  %span.leftside__groupbox__partial__text--groupname test-group
  %span.leftside__groupbox__partial__text--message さようなら！
.leftside__groupbox__partial
  %span.leftside__groupbox__partial__text--groupname test-group
  %span.leftside__groupbox__partial__text--message さようなら！
.leftside__groupbox__partial
  %span.leftside__groupbox__partial__text--groupname test-group
  %span.leftside__groupbox__partial__text--message さようなら！
.leftside__groupbox__partial
  %span.leftside__groupbox__partial__text--groupname test-group
  %span.leftside__groupbox__partial__text--message さようなら！
