.rightside__chatbox__partial{"data-message-id": message.id}
  .rightside__chatbox__partial__wrapper
    %p.rightside__chatbox__partial__wrapper--text
      =message.user.name
    %p.rightside__chatbox__partial__wrapper--date
      =message.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d%H:%M:%S")
  %p.rightside__chatbox__partial__message
    =message.text if message.text.present?
  =image_tag message.image,{class:"rightside__chatbox__partial__image"} if message.image.present?