.rightside__chatbox__partial
  .rightside__chatbox__partial__wrapper
    %p.rightside__chatbox__partial__wrapper--text
      test-user
    %p.rightside__chatbox__partial__wrapper--date
      2019/08/15(Tue) 13:40:14
  %p.rightside__chatbox__partial__message
    こんにちは
.rightside__chatbox__partial
  .rightside__chatbox__partial__wrapper
    %p.rightside__chatbox__partial__wrapper--text
      test-user
    %p.rightside__chatbox__partial__wrapper--date
      2019/08/16(Wed) 07:14:22
  %p.rightside__chatbox__partial__message
    さようなら
