.rightside__chatbox__partial
  .rightside__chatbox__partial__wrapper
    %p.rightside__chatbox__partial__wrapper--text
      =message.user
    %p.rightside__chatbox__partial__wrapper--date
      2019/08/15(Tue) 13:40:14
  %p.rightside__chatbox__partial__message
    =message.text