=link_to group_messages_path(group),{class:"leftside__groupbox__partial"} do
  %span.leftside__groupbox__partial__text--groupname
    =group.name
  %span.leftside__groupbox__partial__text--message
    -if group.messages.any?
      =group.messages.last(1)[0].text
    -else
      ="メッセージはありません"